.select__game__container {
  width: 70%;
  height: 185.19px;
  margin-inline: auto;
  border-top: 1px solid rgba(49, 45, 50, 0.75);
  border-left: 1px solid rgba(49, 45, 50, 0.75);
  display: flex;
}

.border__game__image {
	border-radius: 16px;
}

.ancla {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

@media screen and (max-width: 600px) {
  .select__game__container {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .select__game__container {
    width: 60%;
    max-width: 900px;
  }
}
