.game__container {
  width: calc(100% / 3);
  height: 100%;
  text-align: center;
  text-decoration: none;
  list-style: none;
  padding: 29px 10px;
  border-right: 1px solid rgba(49, 45, 50, 0.75);
  border-bottom: 1px solid rgba(49, 45, 50, 0.75);
  transition: all ease .6s;
}

.game__container:hover {
  background: rgb(28, 29, 27);
	cursor: pointer;
}

.game__container:hover .icon__game {
	width: 112px;
  height: 112px;
	}

.icon__game {
  width: 94px;
  height: 94px;
  display: block;
  margin: 0 auto 13px;
	transition: all ease .6s;
}


.title__game {
  color: hsla(210, 7%, 84%, 0.8);
  font-size: 14px;
  font: 14px arial, Microsoft JhengHei, \5FAE\8EDF\6B63\9ED1\9AD4, sans-serif;
}
